SQL(Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems.

In [25]:
import sqlite3

In [26]:
# Connect to an SQLite database

connection = sqlite3.connect('example.db')
connection

In [27]:
cursor = connection.cursor() # create a cursor object

In [28]:
# Create a table
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT
    )
''')

## Commit the changes
connection.commit()

In [29]:
cursor.execute('''
SELECT * FROM employees
''')

In [30]:
## Insert the data in sqlite table
cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('John', 25, 'HR')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Marie', 30, 'IT')
''')

cursor.execute('''
INSERT INTO employees (name, age, department)
VALUES ('Andrew', 28, 'Data Science')
''')

## Commit the changes
connection.commit()

In [31]:
## Query the data from the table
cursor.execute('''
SELECT * FROM employees
''')
rows = cursor.fetchall()

# Print the queried data

for row in rows:
    print(row)

(1, 'John', 26, 'HR')
(2, 'Marie', 30, 'IT')
(4, 'John', 26, 'HR')
(5, 'Marie', 30, 'IT')
(6, 'John', 25, 'HR')
(7, 'Marie', 30, 'IT')
(8, 'Andrew', 28, 'Data Science')

In [32]:
## Update the data in the table
cursor.execute('''
UPDATE employees
SET age = 26
WHERE name = 'John'
''')

## Commit the changes
connection.commit()

In [33]:
## Query the data from the table
cursor.execute('''
SELECT * FROM employees
''')
rows = cursor.fetchall()

# Print the queried data

for row in rows:
    print(row)

(1, 'John', 26, 'HR')
(2, 'Marie', 30, 'IT')
(4, 'John', 26, 'HR')
(5, 'Marie', 30, 'IT')
(6, 'John', 26, 'HR')
(7, 'Marie', 30, 'IT')
(8, 'Andrew', 28, 'Data Science')

In [34]:
## Delete the data from the table
cursor.execute('''
DELETE FROM employees
WHERE name = 'Andrew'
''')

## Commit the changes
connection.commit()

In [35]:
## Query the data from the table
cursor.execute('''
SELECT * FROM employees
''')
rows = cursor.fetchall()

# Print the queried data

for row in rows:
    print(row)

(1, 'John', 26, 'HR')
(2, 'Marie', 30, 'IT')
(4, 'John', 26, 'HR')
(5, 'Marie', 30, 'IT')
(6, 'John', 26, 'HR')
(7, 'Marie', 30, 'IT')

In [36]:
## Working with Sales Data
# Connect to an SQLite database

connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor() # create a cursor object

# Create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    region TEXT,
    sales INTEGER
    )
''')

# Insert the data into the sales table
sales_data = [
    ('2021-01-01', 'Product A', 'North', 100),
    ('2021-01-02', 'Product B', 'South', 200),
    ('2021-01-03', 'Product C', 'East', 300),
    ('2021-01-04', 'Product D', 'West', 400),
    ('2021-01-05', 'Product E', 'North', 500),
    ('2021-01-06', 'Product F', 'South', 600),
    ('2021-01-07', 'Product G', 'East', 700),
    ('2021-01-08', 'Product H', 'West', 800),
    ('2021-01-09', 'Product I', 'North', 900),
    ('2021-01-10', 'Product J', 'South', 1000)
]

cursor.executemany('''
INSERT INTO sales (date, product, region, sales)
VALUES (?, ?, ?, ?)
''', sales_data)

## Commit the changes
connection.commit()

In [37]:
# Query the data from the sales table
cursor.execute('''
SELECT * FROM sales
''')
rows = cursor.fetchall()

# Print the queried data
for row in rows:
    print(row)

(1, '2021-01-01', 'Product A', 'North', 100)
(2, '2021-01-02', 'Product B', 'South', 200)
(3, '2021-01-03', 'Product C', 'East', 300)
(4, '2021-01-04', 'Product D', 'West', 400)
(5, '2021-01-05', 'Product E', 'North', 500)
(6, '2021-01-06', 'Product F', 'South', 600)
(7, '2021-01-07', 'Product G', 'East', 700)
(8, '2021-01-08', 'Product H', 'West', 800)
(9, '2021-01-09', 'Product I', 'North', 900)
(10, '2021-01-10', 'Product J', 'South', 1000)

In [38]:
## Close the connection
connection.close()