In [1]:
import numpy as np
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a DataFrame with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [2]:
n_class_0, n_class_1

(900, 100)

In [3]:
## Create a dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(0, 1, n_class_0),
    'feature_2': np.random.normal(0, 1, n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(2, 1, n_class_1),
    'feature_2': np.random.normal(2, 1, n_class_1),
    'target' : [1] * n_class_1
})

In [5]:
df = pd.concat([class_0, class_1]).reset_index(drop=True)

In [6]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [7]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

Upsampling

In [9]:
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [10]:
from sklearn.utils import resample
df_minority_upsampled = resample(df_minority, replace=True, n_samples=len(df_majority), random_state=43)

In [11]:
df_minority_upsampled.shape

(900, 3)

In [12]:
df_minority_upsampled.head()

     feature_1  feature_2  target
968   2.272462   2.493580       1
964   2.397060   0.740228       1
949   2.944820   1.277924       1
921   1.730481   3.285701       1
958   0.342491   1.927940       1

In [13]:
df_upsampled = pd.concat([df_majority, df_minority_upsampled])

In [14]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

Downsampling

In [15]:
## Create a dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(0, 1, n_class_0),
    'feature_2': np.random.normal(0, 1, n_class_0),
    'target' : [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(2, 1, n_class_1),
    'feature_2': np.random.normal(2, 1, n_class_1),
    'target' : [1] * n_class_1
})

# Check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [16]:
## Downsampling
df_minority = df[df['target'] == 1]
df_majority = df[df['target'] == 0]

In [17]:
from sklearn.utils import resample
df_majority_downsampled = resample(df_majority, replace=False, n_samples=len(df_minority), random_state=43)

In [18]:
df_majority_downsampled.shape

(100, 3)

In [20]:
df_downsampled = pd.concat([df_majority_downsampled, df_minority])

In [21]:
df_downsampled['target'].value_counts()

target
0    100
1    100
Name: count, dtype: int64